h1 {
    text-align: center;
    font-family: fantasy;
}

body {
    background-color: mintcream;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

strong {
    font-style: italic;
}

em {
    font-style: oblique;
}